In [1]:
# import relevant python Libraries
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)
import seaborn as sns
import matplotlib.pyplot as plt

# Objective

We assumed we want ot make analysis to buy a car within our budget, So we explored the data to get the missing values then cleaning it , and did our analysis

Loading data and Exploring

In [2]:
# read data
df = pd.read_csv('./Automobile_data.csv')
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [3]:
# data info
df.shape

(205, 26)

In [4]:
# data sample
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [7]:
def get_uniue_val (datafr): 

    datafr =datafr.select_dtypes(exclude=['float','int64'])
    column_list =  datafr
    
    df_final =pd.DataFrame()
    for i in column_list :
        arr=np.array(datafr[i].unique())
        df_new =pd.DataFrame()
        for ar in arr :
            xx= [{i:ar}]

            df_new=df_new.append(xx, ignore_index=True)
       # print(df_new)   
        df_final= pd.concat([df_final,df_new],  axis=1)
    df_final=df_final.fillna( '--', )        
    return df_final

In [8]:
get_uniue_val(df)

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price
0,?,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,111,5000,13495
1,164,audi,diesel,turbo,four,hatchback,fwd,rear,ohcv,six,2bbl,2.68,3.47,154,5500,16500
2,158,bmw,--,--,?,sedan,4wd,--,ohc,five,mfi,3.19,3.4,102,5800,13950
3,192,chevrolet,--,--,--,wagon,--,--,l,three,1bbl,3.13,2.8,115,4250,17450
4,188,dodge,--,--,--,hardtop,--,--,rotor,twelve,spfi,3.5,3.19,110,5400,15250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,16845
183,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,19045
184,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,21485
185,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,22470
186,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,22625

In [ ]:
#Looping data to show each columns contents
I=df.columns
for _ in I:
    print("[",_,"]" ,"\n","-"*30)
    print(df[_].value_counts())
    print(_,"\n","-"*30)

In [ ]:
# data strings Vs integers
df.info()

In [ ]:
# replace all "?" in all column by not a number to facilitate its identification later
df = df.replace('?',np.NAN)

In [ ]:
# summary of null values in each column
df.isnull().sum()

In [ ]:
# since addressed columns are Quantitative, fill data missing values  by mean of each column
cols = ['normalized-losses', 'bore',  'stroke', 'horsepower', 'peak-rpm','price']
for col in cols:
     df[col]=pd.to_numeric(df[col])
     df[col].fillna(df[col].mean(), inplace=True)

In [ ]:
# check data info after filling the missing values
df.info()

In [ ]:
#calculate mean, min, max, std
df.describe()

In [ ]:
# calculate Mode and Median
print(df.median())
print("\n\n","[",'Mode',"]" ,"\n\n","-"*30)
print(df.mode())

In [ ]:
# draw the correlation matrix to understand the correlation between variables.
df_corr = df.corr()
fig, ax = plt.subplots(figsize=(15,7))  
col_map = sns.diverging_palette(220 , 10 , as_cmap=True)
sns.heatmap(df_corr , cmap=col_map ,annot= True, fmt=".2f")

**1-The price with Positve corrlation with (engine size,curb-weight,horsepower) \
2-The price with Negative corrlation with (city-mpg,highway-mpg)**

Categorize the price to main 3 categories

In [ ]:
bind = int((max(df['price'])-min(df['price']))/3)
bins = range(int(min(df['price'])),int(max(df['price'])),bind)
df['price_bin'] = pd.cut(df['price'],bins,labels=['Low','Med','High'])
df.groupby('price_bin')['make'].count()

In [ ]:
plt.hist(df['price'])
plt.title('Histegram For Prices')
plt.xticks(rotation = 45 , horizontalalignment="center")
plt.xlabel(' Price ')
plt.ylabel('Number');

**Right Skweed most of car in the price interval(5000,15000)**

In [ ]:
# Rank 10 highest car brands according to their average price
df1=df.groupby('make')['price'].agg('mean')
df1=pd.DataFrame(df1)
df1.reset_index(inplace=True)
data_types_car=df1.sort_values(by='price',ascending=False)
x_axis=data_types_car['make'][0:10]
y_axis=data_types_car['price'][0:10]
# Visualization settings
sns.set(rc={'figure.figsize':(26,10)}, font_scale=2)
ax = sns.barplot(x_axis, y_axis, palette="Set1")
ax.set(xlabel='Car Brand', ylabel='AVG_Price', title = 'Top 10 cars make based on the price')
for item in ax.get_xticklabels():
    item.set_rotation(45)

In [ ]:
# compare cars according to their fuel type
df2=df.groupby(['fuel-type']).size()#.plot(kind = "bar")
sns.set(rc={'figure.figsize':(8,4)}, font_scale=1.2)
sns.barplot(x = df2.index, y = df2.values)

In [ ]:
# if I have 10000$ which type of cars(drive-wheels) is suitable to my budget?
sns.boxplot(x='drive-wheels' , y='price' , data=df)

In [ ]:
# representation of cars types (body vs drive wheels) and table contains the average price for user selection
# this represenation give the opportunity to reader to compare his 
# budget with the average price and the selected criteria
df_for_piv = df[['drive-wheels' , 'make' , 'price' , 'body-style']]
pivt_4 = df_for_piv.pivot_table(index= ['drive-wheels'], columns=['body-style'] ,values='price', aggfunc='mean', fill_value=0,sort=True).astype(int)
fig, ax = plt.subplots(figsize=(15,7))  
sns.heatmap(pivt_4 ,ax=ax , cmap="YlGnBu" , annot=True , fmt=".0f")

In [ ]:
df_for_piv4 = df[['price_bin' , 'make' , 'price' ]]
pivt_4 = df_for_piv4.pivot_table(index= ['price_bin'], columns=['make'] ,values='price', aggfunc='mean', fill_value=0,sort=True).astype(int)
fig, ax = plt.subplots(figsize=(15,7))  
sns.heatmap(pivt_4 ,ax=ax , cmap="YlGnBu" , fmt=".0f")